h1 {
  font-size: 70px;
  font-family: "Bebas Neue", cursive;
}
h2,
h3,
p {
  font-family: "Roboto", sans-serif;
}
.nav-font {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.nike-section img {
  width: 500px;
  height: 500px;
}
.nike-section {
  margin-right: 150px;
}
.tomato-highlight {
  color: tomato;
}
.purple-highlight {
  color: #363958;
}
.shoes {
  background-color: #f1f1f1;
  border-radius: 20px;
}
.shoes-container {
  border-radius: 20px;
}
.facilities {
  border-radius: 20px;
  background-color: white;
}
.facilities img {
  width: 120px;
  height: 120px;
  padding-right: 15px;
}
.vector {
  width: 100%;
}
.sub-area {
  background-color: #fff9f4;
  border-radius: 20px;
  height: 300px;
}
.copyright {
  text-align: center;
}
